:root{
    --ligth-white: #E5E5E5;
    --cherry-1: #fddada;
    --cherry-2: #c76a6a;
    --dark-blue:#0A3871;
    --medium-gray: #495057;
    --dark-gray: #343A40;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
}

body{
    background-color: var(--cherry-1);
}

.container{
    max-width: 1440px;
    height: 100vh;
    display: grid;
    grid-template-columns: 120px 2fr max-content;
    gap: 20px;
    padding: 10px;
}

.Logo{
    display: flex;
    align-items: self-start;
    justify-content: center;
}

.item-1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 80px 0px 20px;
}

textarea{
    width: 100%;
    height: 100%;
    background-color: var(--cherry-1);
    color: var(--dark-blue);
    padding: 0px 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    border: none;
    resize: none;
    outline: none;
}
#inputTextArea::placeholder{
    color: #8d9f8a;
}

.warning{
    padding: 0px 10px;
    display: flex;
    align-items: center;
    gap: 2px;
    color: var(--medium-gray);
    font-weight: bolder;
}

.buttons{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 30px;
}

.buttons button, .item-2 button{
    padding: 15px;
    border: none;
    border-radius: 14px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    font-size: medium;
    font-weight: bolder;
}

.buttons button:first-child {
    background-color: var(--cherry-2);
    color: white;
}

.buttons button:last-child, .item-2 button {
    background-color: transparent;
    color: var(--cherry-2);
    border: 1px solid var(--cherry-2);
}

.item-2{
    min-width: 350px;
    max-width: 350px;
    padding: 10px 25px;
}

.item-2 button{
    display: none;
    margin-top: 15px;
}

.item-2 textarea {
    display: none;
    color: var(--cherry-2);
    background-color: var(--ligth-white);
}

.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    border-radius: 32px;
    background-color: var(--ligth-white);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.result img{
    width: 80%;
    max-width: 100%;
    height: auto;
}

.result h2{
    color: var(--dark-gray);
    margin: 20px 0px 10px;
}

.result span{
    color: var(--medium-gray);
    font-size: 14px;
}

footer{
    display: flex;
    justify-content: center;
    color: white;
    padding: 2px;
    background-color: #0A3871;
    padding-top: .5rem;
    padding-bottom: 0.5rem;
}

.credits{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-style: italic;
    
}

.credits ul, a{
    list-style: none;
    text-decoration: none;
    color: var(--ligth-white);
}

@media (max-width: 768px) {
    .container{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
    .Logo{
        justify-content: start;
        padding: 0px 10px;
    }

    .item-1{
        height: 100%;
        padding: 20px 0px 20px;
    }
    
    .item-2{
        min-width: 100%;
        height: max-content;
    }

    .result img{
        display: none;
    }
    
    .result h2{
        margin: 0px 0px 10px;
    }
} 
